* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

.header {
  background-color: #3f6212; /* Warna latar belakang header */
  text-align: center; /* Membuat judul dan teks tengah */
  color: white; /* Warna teks */
  padding: 20px 0; /* Padding atas dan bawah 20px, padding kiri dan kanan 0 */
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.card h2 {
  margin-top: 0;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: #3f6212;
}

.input_section > form > .add-book > .input {
  margin: 8px 0;
}

.input_section > form > .add-book > button {
  background-color: #3f6212;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > .add-book > button > span {
  font-weight: bold;
}

.input_section > form > .add-book > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .add-book > .input > label {
  color: #3f6212;
  font-weight: bold;
}

.input_section > form > .add-book > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .add-book > .input_inline > label {
  color: #3f6212;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section > h2 {
  color: #3f6212;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: #3f6212;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.bookshelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.bookshelf > h2 {
  color: #3f6212;
}

.bookshelf > .book_list {
  padding: 16px;
}

.bookshelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.bookshelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.bookshelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.bookshelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.bookshelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}

input,
button {
  font-size: 16px;
}

.check-button {
  width: 40px;
  height: 40px;

  background: url("../src/assets/check-outline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url("../src/assets/check-solid.svg");
  background-size: contain;
  color: #3f6212;
}

.delete-button {
  width: 40px;
  height: 40px;

  background: url("../src/assets/trash-outline.svg");
  background-size: contain;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.delete-button:hover {
  background: url("../src/assets/trash-fill.svg");
  background-size: contain;
}

.undo-button {
  width: 40px;
  height: 40px;

  background: url("../src/assets/undo-ouline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url("../src/assets/undo-ouline.svg");
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}
